<div class="wrap">

  <div class="wrap-content">

    <form class="formInitial">

      <div class="form-row">

        <div class="col">
          <input type="date" class="form-control" placeholder="username" name="start" [(ngModel)]="callParams.start" required autofocus/>
        </div>
        <div class="col">
          <input type="date" class="form-control" placeholder="password" name="end" [(ngModel)]="callParams.end" required/>
        </div>

        <div class="col">
          <select class="form-control" name="code" id="" [(ngModel)]="callParams.code">
            <option value="" selected>All</option>
            <option value="FL">FL</option>
            <option value="OH">OH</option>
            <option value="GA">GA</option>
            <option value="LA">LA</option>
          </select>
        </div>

        <div class="col-sm-2">
          <button class="btn btn-primary btn-block btn-round" (click)="call()">Ingresar</button>
        </div>

      </div>

    </form>

    <table class="table table-bordered" id="myTable">

      <thead>

        <th>State</th>
        <th>pro Code</th>
        <th>Profession</th>
        <th>Licence ID</th>
        <th>Cycle​ ​End​ ​Date</th>
        <th>Compliance​ ​Status</th>
        <th>Client ID</th>
        <th>Start​ ​Log​ ​Date</th>
        <th>End​ ​Log​ ​Date</th>
        <th>Environment</th>
        <th>Machine</th>

      </thead>

      <tbody>
          <tr *ngFor="let row of data " class="font-weight-light">
              <td> {{row.cd_cebroker_state}} </td>
              <td> {{row.pro_cde}} </td>
              <td> {{row.cd_profession}} </td>
              <td> {{row.id_license}} </td>
              <td> {{row.dt_end}} </td>
              <td> {{row.ds_compl_status_returned}} </td>
              <td> {{row.id_client_nbr}} </td>
              <td> {{row.dt_Start_Log}} </td>
              <td> {{row.dt_end_log}} </td>
              <td> {{row.cd_environment}} </td>
              <td> {{row.cd_machine}} </td>
            </tr>
      </tbody>

    </table>

  </div>

</div>